name: Push Multiarch Image
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Run in dry-run mode (true/false)'
        required: false
        default: false
        type: boolean

jobs:
  build-and-push-arch-specifics:
    name: Build Rocks and Push Arch Specific Images
    uses: canonical/k8s-workflows/.github/workflows/build_rocks.yaml@main
    with:
      owner: ${{ github.repository_owner }}
      trivy-image-config: "trivy.yaml"
      multiarch-awareness: true
      cache-action: ${{ (github.event_name == 'push') && 'save' || 'restore' }}
      arch-skipping-maximize-build-space: '["arm64"]'
      platform-labels: '{"arm64": ["self-hosted", "Linux", "ARM64", "jammy"]}'
      enabled-ubuntu-pro-features: "fips-updates"
      rockcraft-revisions: '{"amd64": "3494", "arm64": "3547"}'
    secrets:
      UBUNTU_PRO_TOKEN: ${{ secrets.UBUNTU_PRO_TOKEN }}
  run-tests:
    uses: canonical/k8s-workflows/.github/workflows/run_tests.yaml@main
    needs: [build-and-push-arch-specifics]
    secrets: inherit
    with:
      rock-metas: ${{ needs.build-and-push-arch-specifics.outputs.rock-metas }}
  scan-images:
    uses: canonical/k8s-workflows/.github/workflows/scan_images.yaml@main
    needs: [build-and-push-arch-specifics]
    secrets: inherit
    with:
      upload-result: ${{ github.event_name == 'push' }}
      images: ${{ needs.build-and-push-arch-specifics.outputs.images }}
      trivy-image-config: ./trivy.yaml
  build-and-push-multiarch-manifest:
    name: Combine Rocks and Push Multiarch Manifest
    uses: canonical/k8s-workflows/.github/workflows/assemble_multiarch_image.yaml@main
    needs: [build-and-push-arch-specifics]
    if: ${{ needs.build-and-push-arch-specifics.outputs.changed-rock-metas != '[]' }}
    with:
      rock-metas: ${{ needs.build-and-push-arch-specifics.outputs.changed-rock-metas }}
      dry-run: ${{ github.event_name == 'pull_request' || (github.event_name == 'workflow_dispatch' && inputs.dry-run) }}
